@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h2>Список продуктов</h2>
    <table>
        @foreach (var item in Model)
        {
            if (@item.Count == 0)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>Нет в наличии</td>
                    <td>
                        <a href="/Products/Details/@item.Id">Подробнее...</a>
                    </td>
                </tr>
            }
            else if (item.Count <= 30)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>Заканчивается</td>
                    <td>
                        <a href="/Products/Details/@item.Id">Подробнее...</a>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>В наличии</td>
                    <td>
                        <a href="/Products/Details/@item.Id">Подробнее...</a>
                    </td>
                </tr>
            }
        }
    </table>
    @if (Model.Count != 0)
    {
        <p>
            Всего: @Model.Count

            <a href="/Products/File">Скачать список</a>
        </p>

    }
    else
    {
        <p>
            Список пуст.
        </p>
    }
</body>
</html>


